<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xephorium.crystalnote">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/Light"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Splash Activity -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait" />

        <!-- Widget Activity -->
        <activity
            android:name=".ui.widget.WidgetActivity"
            android:screenOrientation="portrait" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait" />

        <!-- About Activity -->
        <activity
            android:name=".ui.about.AboutActivity"
            android:screenOrientation="portrait" />

        <!-- Note Update Activity -->
        <activity
            android:name=".ui.update.UpdateActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xephorium.crystalnote.CREATE_NOTE" />
            </intent-filter>
        </activity>

        <!-- Note Select Activity -->
        <activity
            android:name=".ui.select.SelectActivity"
            android:noHistory="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xephorium.crystalnote.widget.CHOOSE_NOTE" />
            </intent-filter>
        </activity>

        <!-- Widget Broadcast Receiver -->
        <receiver
            android:name=".ui.widget.NotesWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="CrystalNote Widget"
            android:permission="false">
            <intent-filter>
                <action android:name="com.xephorium.crystalnote.widget.UPDATE_NOTE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info" />
        </receiver>

    </application>

</manifest>
