<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/Dark"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="GoogleAppIndexingWarning"
        >

        <!-- Home Activity -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/NewSplashTheme"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Widget Activity -->
        <activity
            android:name=".ui.widget.WidgetActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />

        <!-- About Activity -->
        <activity
            android:name=".ui.about.AboutActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            />

        <!-- Update Note Activity -->
        <activity
            android:name=".ui.update.UpdateNoteActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.xephorium.crystalnote.CREATE_NOTE" />
            </intent-filter>
        </activity>

        <!-- Update File Activity -->
        <activity
            android:name=".ui.update.UpdateFileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
        </activity>

        <!-- Note Select Activity -->
        <activity
            android:name=".ui.select.SelectActivity"
            android:noHistory="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.xephorium.crystalnote.widget.CHOOSE_NOTE" />
            </intent-filter>
        </activity>

        <!-- Widget Broadcast Receiver -->
        <receiver
            android:name=".ui.widget.NotesWidgetProvider"
            android:icon="@mipmap/icon_launcher"
            android:label="CrystalNote Widget"
            android:permission="false"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info"
                />
        </receiver>

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".ui.widget.WidgetConfigurationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:excludeFromRecents="true"
            android:theme="@style/WidgetConfigurationActivityTheme"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

    </application>

</manifest>
